/* src/pages/Home.module.css */

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem; /* Reduced padding to minimize space */
  background: transparent;
  color: var(--gold-yellow);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  flex-shrink: 1;
}

.flashingTitle {
  font-size: 2rem;
  color: var(--gold-yellow);
  animation: flash 1s infinite;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
  margin: 0.25rem 0; /* Reduced top and bottom margin to minimize vertical space */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1; /* Set line-height to 1 to remove extra vertical space */
  height: auto; /* Set height to auto to ensure it only contains the words */
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .flashingTitle {
    font-size: 2rem; /* Adjusted font size for mobile */
    height: auto; /* Adjust height for mobile as well */
  }
}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
