/* src/components/Navbar.module.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly; /* Ensure items are evenly spaced across */
  padding: 12px 10px; /* Increased top padding by 20% from 10px to 12px */
  background-color: transparent;
  backdrop-filter: blur(8px);
  z-index: 1000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--gold-yellow);
  transition: background-color 0.3s ease;
}

.navItem {
  color: var(--gold-yellow);
  text-decoration: none;
  transition: color 0.3s ease;
}

.navItem:hover {
  color: #d4af37;
}

.icon {
  font-size: 2.1rem; /* Increased icon size by 30% */
  color: var(--gold-yellow);
}

.logo {
  font-weight: bold;
  font-size: 1.7rem;
  color: var(--gold-yellow);
}

/* Responsive Adjustments for Smaller Screens */
@media (max-width: 768px) {
  .navbar {
    justify-content: space-around; /* Bring the icons closer together on smaller screens */
    padding: 6px 5px; /* Adjusted padding on smaller screens to match the reduced size */
  }

  .icon {
    font-size: 1.8rem; /* Reduce icon size slightly for smaller screens */
  }
}
