/* src/components/Player.module.css */

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
  z-index: 10; /* Ensure the player is above other layers */
}

.albumContainer {
  position: relative;
  width: 100%;
  max-width: 480px;
  margin-bottom: 1rem;
  z-index: 11; /* Ensure artwork is visible */
}

.albumArtwork {
  width: 100%;
  border-radius: 12px; /* Updated radius to match MiniPlayer */
  box-shadow: 0 16px 48px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease; /* Smooth scaling transition */
}

.albumArtwork.playing {
  transform: scale(1.05); /* Slight enlargement when playing */
}

.songInfo {
  margin-top: 1rem;
  text-align: center;
}

.songTitle {
  font-size: 1.6rem;
  color: #fff;
  margin: 0;
}

.songArtist {
  font-size: 1rem;
  color: #ddd;
  margin: 0;
}

.controlsContainer {
  position: relative;
  width: 100%;
  max-width: 480px;
  margin-top: 20px;
  padding: 1rem;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 12px; /* Updated to match MiniPlayer */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  z-index: 12; /* Ensure controls are above background layers */
}

.progressBarContainer {
  width: 100%;
  height: 8px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 16px;
}

.progressBar {
  height: 100%;
  background: linear-gradient(90deg, #00ff85, #006600);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.controlButton {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  transition: transform 0.2s;
}

.controlButton:hover {
  transform: scale(1.1);
}

.volumeControl {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.volumeIcon {
  font-size: 24px;
  color: #fff;
  margin-right: 8px;
}

.volumeSlider {
  width: 100%;
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.3);
  height: 6px;
  border-radius: 3px;
  outline: none;
  transition: background 0.3s;
}

.volumeSlider:hover {
  background: rgba(255, 255, 255, 0.4);
}

.volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: #b0b0b0;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(176, 176, 176, 0.7);
  transition: background 0.3s, box-shadow 0.3s;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .albumContainer {
    max-width: 360px;
  }

  .controlsContainer {
    max-width: 360px;
  }

  .volumeControl {
    display: none; /* Hide volume control on mobile */
  }
}
